body { 
  background-color: #b5a789;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           0px;
}

#header {
  width:270px;
  height:120px;
  display: inline-block;
  background-image: url(./images/header.gif);
  background-repeat: no-repeat;
  
}
#header-2{
  width:270px;
  height:120px;
  display: inline-block;
  background-image: url(./images/header-2.jpg);
  background-repeat: no-repeat;
  background-color: #675c47;
}

#main {
  display:          table-cell;
  background:       #efe5d0 url(images/background.gif) top left;
  font-size:        105%;
  padding:          15px;
  vertical-align:   top;
}

#sidebar {
  display:          table-cell;
  background:       #efe5d0 url(images/background.gif) bottom right;
  font-size:        105%;
  padding:          15px;
  vertical-align:   top;
}

#footer {
  background-color: #675c47;
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin:           0px 10px 10px 10px;
  font-size:        90%;
  clear:            left;
}

h1 {
  font-size:        120%;
  color:            #954b4b;
}

.slogan { color: #954b4b; }

.beanheading {
  text-align:       center;
  line-height:      1.8em;
}

a:link {
  color:            #b76666;
  text-decoration:  none;
  border-bottom:    thin dotted #b76666;
}
a:visited {
  color:            #675c47;
  text-decoration:  none;
  border-bottom:    thin dotted #675c47;
}
#hyx {
  width:800px;
  padding-top:      5px;
  padding-bottom:   5px;
  background-color: #675c47;
  margin-left:      auto;
  margin-right:     auto;
}
#tableContainer {
display: table;
border-spacing: 10px;
}
#tableRow {
  display: table-row;
}
#xinjiade{
  display: table-cell;
  background-color:#efe5d0;
  width:20%;
  padding:15px;
  vertical-align: top;
}
#youhuiquan{
  position: fixed;
  top:350px;
  left:-220px;
}
#youhuiquan a,img{
  border:none;
}
#youhuiquan:hover{
  position: fixed;
  top:350px;
  left:-220px;
  animation: 1s hyx;
}
@keyframes hyx{
  from{left:-220px;}
  10%{left:-200px;}
  20%{left:-180px;}
  30%{left:-160px;}
  50%{left:-120px;}
  to{left:-20px;}
}