body { 
  background-color: #b5a789;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           0px;
}

#header {
  width:545px;
  height:120px;
  background-image: url(./images/header.gif);
  background-repeat: no-repeat;
  
}
#header-2{
  width:555px;
  height:120px;
  background-image: url(./images/header.gif);
  background-repeat: no-repeat;
  background-position-x: -520px;
  float:right;
}

#main {
  background:       #efe5d0 url(images/background.gif) top left;
  font-size:        105%;
  padding:          15px;
  vertical-align:   top;
  width:auto;
}

#sidebar {
  background:       #efe5d0 url(images/background.gif) bottom right;
  font-size:        105%;
  padding:          15px;
  vertical-align:   top;
  
}

#footer {
  background-color: #675c47;
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin:           0px 10px 10px 10px;
  font-size:        90%;
  clear:            left;
}

h1 {
  font-size:        120%;
  color:            #954b4b;
}

.slogan { color: #954b4b; }

.beanheading {
  text-align:       center;
  line-height:      1.8em;
}

a:link {
  color:            #b76666;
  text-decoration:  none;
  border-bottom:    thin dotted #b76666;
}
a:visited {
  color:            #675c47;
  text-decoration:  none;
  border-bottom:    thin dotted #675c47;
}
#hyx {
  width:960px;
  padding-top:      5px;
  padding-bottom:   5px;
  background-color: #675c47;
}
#xinjiade{
  background-color:#efe5d0;
  font-size:125%;
  padding:15px;
  vertical-align: top;
}
#youhuiquan{
  position: fixed;
  top:390px;
  left:-240px;
}
#youhuiquan a,img{
  border:none;
}
#youhuiquan:hover{
  position: fixed;
  top:390px;
  left:-240px;
  animation: 2s hyx linear forwards;

}
@keyframes hyx{
  from{left:-240px;}
  10%{left:-220px;}
  20%{left:-200px;}
  30%{left:-180px;}
  50%{left:-140px;}
  to{left:-40px;}
}
#jiangbei{
  position: absolute;
  top:30px ;
  left:900px;
}
#zhongjian{
  width:960px;
  
}